<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Library</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1>Music Library </h1>

    <h2>Add a song:</h2>

    <form action="/addMusic" method="POST">
        <input type="text" placeholder="Artist" name="artist">
        <input type="text" placeholder="Song" name="song">

        <input type="submit">
    </form>


    <ul class="items">
        <% for(let i=0; i < items.length; i++) {%>
            <li class="item">
                <i class="fa fa-edit"></i>
                <span class='fa fa-trash'></span>
                <span class="artist">
                    <%= items[i].artist %>
                </span> <span> - </span>
                <span class="song">
                    <%= items[i].song %>
                </span>

            </li>
            <% } %>
    </ul>

    <script src='js/main.js'></script>
</body>

</html>